.intro-container {
  width: 100%;
  height: 100vh;
  position: relative;
}

.to-start {
  font-size: 15px;
  position: absolute;
  text-transform: uppercase;
  top: 80px;
  left: 37px;
}

.intro-main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 700px;
  height: 700px;
}

.diamond-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  z-index: 0;
}

.intro-text {
  position: absolute;
  top: 47%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  width: 100%;
}

.click-to-type {
  font-size: 10px;
  margin-bottom: 10px;
  color: #aaa;
}

.intro-input {
  font-size: 45px;
  font-weight: 500;
  text-align: center;
  border: none;
  border-bottom: 1px solid black;
  outline: none;
  background: transparent;
  padding: 8px 0;
  width: 100%;
  max-width: 440px;
  color: #000;
}

.intro-input::placeholder {
  color: #1a1b1c;
}

.intro-back {
  position: absolute;
  bottom: 20px;
  left: 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 12px;
  color: #1a1b1c;
}

.back-icon {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}