.navbar-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    max-width: 1400px;
    margin: 0 auto;
}

.logo-section {
    display: flex;
    align-items: center;
    gap: 15px;
}

.logo-img {
    width: 100px;
    height: 0 auto;
    color: #1A1B1C;
}

.intro-badge {
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
    color: #1A1B1C
}